@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,300;1,400&display=swap');


body {
    color: #333;
    font-family: 'Poppins', sans-serif;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
}

.cabecalho {
    align-items: center;
    background-color: #FEFEFE;
    display: flex;
    height: 6em;
    justify-content: space-around;
    position: sticky;
    top: 0;
}

.cabecalho .logo {
    width: 18em;
}

.cabecalho img {
    width: 100%;
}


.menu {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
	text-align: center;
}

.menu-item a {
    align-items: center;
    color:#083869;
    display: flex;
    font-size: 1em;
    padding: 1em 0 1em 2em;
    text-align: center;
    text-decoration: none;
    transition: color, transform .7s;
}

.menu-item a:hover {
    color: #f85a40;
    transform: scale(1.1);
}

#inicio {
    align-items: center;
    background-image: radial-gradient( #d1d1d1 0%, #ffffff 100%); 
    display: flex;
    height: 40em;
    justify-content: center;
    text-align: center;
    width: 100%;
}

#inicio h1 {
    color: #f85a40;
    text-transform: uppercase;
    font-size: 5em;
    padding-bottom: 1em;
    font-weight: 300;
}

#inicio h2 {
    color:#083869;
    font-weight: 300;
    font-size: 3em;
    
}

#inicio p {
    font-size: 1.3em;
    color: #555;
}

#quem-somos, #parceiros, #contato {
    padding-top: 7em;
    width: 70%;
    margin: 0 auto;
}

.titulo-conteudo {
    padding-bottom: 2em;
}

#quem-somos p {
    font-size: 1.2em;
    line-height: 2.5em;
}

.cards {
    display: inline;
    align-items: center;
    justify-content: center;
}

.cards img {
    width: 8em;
    padding: 1em;
    margin: 0.5em;
    transition: transform 1s;
}

.cards img:hover {
    transform: scale(1.3);
}

.contatos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2em;
}

.telefone,
.whatsapp,
.email,
.endereco {
    padding-bottom: 1.5em;
} 

.wrapper {
    display: flex;
    align-items: center;
}
.wrapper-imagem {
    height: 25px;
}
.wrapper-titulo {
    padding: 12px 8px;
}

iframe {
    padding: 1.5em 0;
    width: 100%; 
    height: 20em;
}

hr {
    border-top: 0.5em solid #f85a40;
    margin-bottom: 0.3em;
}

footer {
    background-color: #083869;
    color: #FEFEFE;
    text-align: center;
    padding: 2em;
    font-size: 0.8em;
}

footer p {
    line-height: 1.5em;
}

@media (max-width: 500px) {
    body {
        font-size: 12px;
    }
    .cabecalho {
        display: block;
        height: 12em;
    }

    .menu {
        display: flex;
        justify-content: space-around;
    }

    .menu a {
        padding: 1em;
    }

    #inicio {
        height: 30em;
    }

    #inicio h1 {
        font-size: 2.8em;
        padding-bottom: 1em;
    }
    
    #inicio h2 {
        font-size: 1.8em;
        
    }
    
    #inicio p {
        font-size: 1.3em;
        color: #333;
    } 

    #quem-somos, #parceiros, #contato {
        padding-top: 13em;
        width: 90%;
    }

    .cards img {
        width: 10em;
        margin-left: 0.5em;
    }

    .cards img:hover {
        transform: none;
    }
}